<!DOCTYPE html>
<html lang="en" ng-app="summerInternship">
<head>
	<title>FirstPage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="/styles/FirstPage.css" />
    <script type="text/javascript" src="/js/FirstPage.js"></script>
</head>

<body ng-controller="firstpageController">

	<div id="sidemenu" class="side">
		<a href="javascript:void(0)" class="btn" onclick="closeMenu()">&#9754;</a>
		<a href="http://localhost:8090/profilepage">Profile Page</a>
        <a href="http://localhost:8090/firstpage">Dashboard</a>
		<a href="#">Cart</a>
		<a href="#">About</a>
		<a href="http://localhost:8090/home">Logout</a>
	</div>

	<div id="int">
		<span style="font-size:30px;cursor:pointer" onclick="openMenu()">&#9776; </span>
        <h1>{{ title }}</h1>
	</div>

	<script src="/scripts/angular.min.js"></script>
	<script src="/js/module.js"></script>

	<script src="/js/firstpage.controller.js"></script>
	<script src="/js/firstpage.service.js"></script>

</body>
</html>