body{
	font-family: "Lato", sans-serif;
	transition: background-color .5s;
    background-color: #D2D7D3;
}

.hdr{
    display:inline-block;
    margin-right: 50px;
}

#open{
    background: linear-gradient(to bottom right, #6C7A89, #BDC3C7);
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 25px;
    margin-left: 55px;
    width: 202px;
    height: 350px;
    display:inline-block;
}

#open:hover{
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#dir{
    color: #D64541;
    font-weight: bold;
}

.dv{
    width: 275px;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 30px;
    display: inline-block;
}

#hdrs{
    border-bottom: 1px solid rgba(100,100,100,0.8);
    margin-bottom: 50px;
    height: 100px;
}

.side{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(black, white);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px; 
}

.side a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	border-bottom: 1px solid rgba(100,100,100,0.3);
}

.side a:nth-child(1):hover{
	color: #f1f1f1;
	background-color: black;
}

.side a:hover {
    color: black;
    background-color: white;
}

.side .btn{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#int{
	transition: margin-left .5s;
	padding: 16px;

}


h3{
    border-bottom: 1px solid rgba(100,100,100,0.8);
}

@media screen and (max-height: 450px) {
  .side {padding-top: 15px;}
  .side a {font-size: 18px;}
}
